<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <style>
            .header-container {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: limegreen; /* Màu nền xanh lá cây */
                padding: 10px; /* Khoảng cách viền */
            }
            
            .shop-name {
                color: white; /* Màu chữ trắng */
                font-size: 24px;
            }
            
            .content-container {
                margin-top: 20px;
            }
        </style>
    </head>

    <body>
        <div class="header-container">
            <span class="shop-name">ATN TOYS SHOP</span>
        </div>
        
        <h1>CREATE: May Node and Express be with you.</h1>
        
        <!-- (1): CREATE Task -->         
        <!-- --> 
        
        <!-- -->                               

        <!-- (2) READ Task -->                        
          

        <!-- (3) UPDATE Task -->
        
    
    </body>

</html>